
/*
#384aeb
#4d5fea
#6b70ff
#b7bbff
#F1F6F7
#ffffff
#555555
#222
*/

.header_area{
  z-index:9999;
  position: fixed;
}
/*-----------------MAIN MENU----------------*/
.main_menu{
  position:fixed;
  width:100%;
  top:-71px;
  left:0;
  right:0;
  background:#ffffff;
  -webkit-transform:translateY(70px);
  -moz-transform:translateY(70px);
  -ms-transform:translateY(70px);
  -o-transform:translateY(70px);
  transform:translateY(70px);

  box-shadow:0px 0px 20px 0px rgba(0,0,0,0.05)
  }

/*-----------------LOGO---------------------*/

@media screen and (max-width: 992px) {
 .logo-img{
  width: auto;
  height: 38px;
}
}
/*-----------------NAVIGATION BAR HUMBURGER---------------------*/
.navbar-toggler {
  padding: .25rem 0 !important;
  size: 10px;
}
.navbar-light .navbar-toggler{
  border-color: rgb(0,0,0,0) !important;
}
.hamburger {
  padding: .25rem 0 0 0 !important;
}
.hamburger:hover {
    opacity: 0.9;
    background-color: rgb(0,0,0,0) !important; 
     border-color: rgb(0,0,0,0) !important;

}
span.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
    background-color:  #4d5fea !important;
}

/*-----------------NAVIGATION BAR---------------------*/

.nav-item {
  display: inline-block;
  padding: 8px 20px;
  border-color: rgba(40, 40, 40, 0);  
}


.navbar-nav .active .nav-link{
   cursor: pointer;
   color: #384aeb !important;
}

.navbar-nav .nav-link{
   cursor: pointer;
   color: #222 !important;
}
.navbar-nav .nav-link:hover{
   color: #384aeb !important;
}

/*-----------------LOGIN---------------------*/

.nav-login{
  list-style-type: none;
   margin: auto 0;
}
.nav-login li a{
  display:inline-block;
  font-size:16px;
  color:#222;
  height: 40px;
  border-color: #384aeb;
  border-radius: 20px;
  cursor: pointer;
  width: 100px;
  }
.nav-login li a:hover{
  background: #6b70ff;
  color: white;
  border-color: #b7bbff;
}

@media screen and (max-width: 992px) {
 .nav-login{
  padding-left: 0;
 }
 .nav-login li{
  width: 100%;
 }
 .nav-login li a{
  width: 100%;
 }
}
